* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, system-ui, "Segoe UI", "Roboto", "Helvetica Neue",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fff;
  --grey: #f1f4f8b0;
  --dark-grey: #6b7c93;
  --green: #24b47e;
  --teal: #4f96ce;
  --blue: #6772e5;
  --dark-blue: #4f3ef5;
  --spacer: 28px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover,
a:focus {
  color: var(--dark-blue);
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.stripe-menu-container {
  display: flex;
  height: 100%;
}
